# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ==========================
# Virtual Environment
# ==========================
venv/
.venv/
env/

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# Jupyter
# ==========================
.ipynb_checkpoints/

# ==========================
# Models (Ignore only large models)
# ==========================
models/recommendation_model.pkl
models/regression_model.pkl

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.dbgit add .gitignore